*{
    padding: 0;
    margin:0;
    box-sizing: border-box; 
    font-family: "comic Sans",cursive;
}
body{
    margin: 20px 40px;
}
.cabecera{
   width: auto;
   height: 300px;
   position: relative;
}
.imagen1{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
nav{
    position: absolute;
    left: 86%;
    top: -14px;
    
}
.cabecera nav a{
    /* background-color: rgb(98, 98, 241); */
    color: white;
    border: 1px solid grey;
    box-shadow: 3px 3px 2px rgb(80, 75, 75);
    text-decoration: none;
}
h2{
    text-align: center;
    border: 1px solid black;
}
.contenido_1{
    position: relative;
}
.parrafos_p1{
    position: absolute;
    top: 20px;
    left: 200px;
}
time{
    font-weight: bold;
}
.parrafos_p1 p{
    text-indent: -20px;
    
}

.imagen-logo{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
}
/* .a_active:active{ */
    /* background-color: green;} */
    
.parrafos_p2{
    position: absolute;
    top: 20px;
    left: 200px;
    
}
.parrafos_p2 p{
    text-indent: 20px;
}
.parrafo_p3{
    position: absolute;
    top: 40px;
    left: 200px;
}

.a_activo{
    background-color: rgb(38, 167, 38);
}
.no_activo{
    background-color: rgb(39, 118, 145);
}
.rules_titulo{
    text-align: center;
   
}
.rules_encabezado{
    font-size: 120%;
    
}
.rules_cuerpo{
    margin: 30px;
}
dt{
    font-weight: bold;
    margin: 20px 0px
}
.estilo_letra{
    list-style-type:lower-latin ;
}

.rules_sangria{
    text-indent: 30px;
}
.estilo_circulo{
    list-style-type: circle;
   }
.estilo_circulo>li{
    position: relative;
    left: 70px;
}
.espacio-1{
    margin: 20px 0px;
}
